* {
    margin: 0;
    font-family: arial, sans-serif;
  }
  
  #panel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: min(30%, 200px);
    height: fit-content;
    border-radius: 15px;
    background: #fcfcfc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-size: min(4vw, 20px);
    word-wrap: break-word;
  }
  
  #progress-bar {
    margin-top: 4px;
    width: 100%;
    height: 15px;
    border: 2px solid black;
    background-color: #e8e8e8;
    box-sizing: border-box;
  }
  
  #progress {
    width: 0%;
    height: 100%;
    background-color: green;
    border: 0;
  }
  
  #checkboxes {
    margin-top: 20px;
  }
  
  #checkboxes input {
    margin-right: min(5%, 10px);
    width: min(10%, 20px);
    vertical-align: baseline;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #number-inputs {
    margin-top: 20px;
  }
  
  #number-inputs input {
    margin-left: 5px;
  }
  
  #number-inputs input[type="range"] {
    width: min(50%, 150px);
  }
  
  #number-inputs input[type="number"] {
    width: 45px;
  }
  
  #score-graph-display {
    margin-top: 20px;
    font-size: min(3vw, 15px);
    height: 200px;
    margin-bottom: 20px;
  }